<ion-view view-title="">
    <div  class="bg-full-image home-image relative">
        <ion-content>

        </ion-content>
        <ion-footer-bar align-title="center" class="footer-no-height">
            <div class="home-menu col">
                <div class="home-item" href="#/app/report" id="home-report">
                </div>
                <div class="home-item" href="#/app/contents/1" id="home-content-1">
                </div>
                <div class="home-item" href="#/app/contents/1" id="home-content-2">
                </div>
                <div class="home-item" href="#/app/contents/1" id="home-content-3">
                </div>
                <div class="home-item" href="#/app/contents/1" id="home-content-4">
                </div>
                <div class="home-item" href="#/app/contents/1" id="home-content-5">
                </div>
                <div class="home-item" href="#/app/contents/1" id="home-content-6">
                </div>
            </div>
        </ion-footer-bar>
    </div>
</ion-view>
