<ion-view view-title="Report">
    <ion-content>
        <h4 class="text-center item item-text-wrap">Are you experience any of these symptoms ?</h4>
        <form ng-submit="doReport(form)">
            <div class="list">
                <div class="symptom-list">
                    <div class="symptom-item symptom-{{ symptom.code }}" ng-repeat="symptom in symptoms track by $index">
                        <ion-checkbox ng-model="report.symptoms[$index]"
                                      ng-checked="symptom.code == report.symptoms[$index]">
                            {{ symptom.name }}
                        </ion-checkbox>
                    </div>
                </div>

                <div class="item item-divider">
                    When do you experience symptom ?
                </div>
                <label class="item item-input">
                    <span class="input-label">Select date</span>
                    <input type="date" ng-model="report.date">
                </label>

                <div class="item item-divider">
                    Additional Information
                </div>
                <label class="item item-input">
                    <textarea msd-elastic placeholder="Enter your detail" ng-model="report.detail" class="no-resize"></textarea>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
