<ion-view view-title="Report">
    <ion-content>
        <form ng-submit="doReport(form)">
            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="report.email" required>
                </label>

                <label class="item item-input">
                    <span class="input-label">First name</span>
                    <input type="text" ng-model="report.first_name">
                </label>

                <label class="item item-input">
                    <span class="input-label">Last name</span>
                    <input type="text" ng-model="report.last_name">
                </label>

                <label class="item item-input">
                    <span class="input-label">Age</span>
                    <input type="text" ng-model="report.age">
                </label>

                <div class="item item-divider">
                    Gender
                </div>
                <ion-radio ng-value="male" ng-model="report.gender">Male</ion-radio>
                <ion-radio ng-value="female" ng-model="report.gender">Female</ion-radio>

                <div class="item item-divider">
                    Symptoms
                </div>
                <ion-checkbox ng-model="report.symptoms[0]" ng-checked="report.symptoms[0].checked">Symptom 1</ion-checkbox>
                <ion-checkbox ng-model="report.symptoms[1]" ng-checked="report.symptoms[1].checked">Symptom 2</ion-checkbox>
                <ion-checkbox ng-model="report.symptoms[2]" ng-checked="report.symptoms[2].checked">Symptom 3</ion-checkbox>

                <div class="item item-divider">
                    Detail
                </div>
                <label class="item item-input">
                    <textarea msd-elastic placeholder="Enter your detail" ng-model="report.detail" class="no-resize"></textarea>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Submit</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
