<ion-view view-title="Your Feeling">
    <div  class="bg-full-image report-image relative">

        <ion-content>

            <h4 class="title text-center">
                How are you feeling ?
            </h4>
            <div class="row feeling-list">
                <div class="col card text-center feeling-well">
                    <a ng-click="thank()" class="item">
                        <i class="icon ion-happy-outline feeling-icon"></i>
                        <br />
                        <div class="feeling-ans">I'm well</div>
                    </a>
                </div>
                <div class="col card text-center feeling-sick">
                    <a href="#/app/report/form" class="item">
                        <i class="icon ion-sad-outline feeling-icon"></i>
                        <br />
                        <div class="feeling-ans">I'm sick</div>
                    </a>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>
