<ion-view view-title="Your Feeling">
    <ion-content>

        <h4 class="title text-center">
            Are you feeling well today ?
        </h4>
        <div class="row">
            <div class="col card text-center">
                <a ng-click="thank()" class="item">
                    <i class="icon ion-happy-outline feeling-icon"></i>
                    <br />
                    Yes
                </a>
            </div>
            <div class="col card text-center">
                <a href="#/app/report/form" class="item">
                    <i class="icon ion-sad-outline feeling-icon"></i>
                    <br />
                    No
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
