<ion-view view-title="Page List 1 Title">
    <ion-content>
        <ion-list>
            <ion-item class="item item-thumbnail-right" href="#/app/contents/11">
                <img src="http://lorempixel.com/80/80/nature/1/">

                <h2>Page Detail 1.1 Title</h2>
                <p>July 2, 2015</p>
            </ion-item>
            <ion-item class="item item-thumbnail-right" href="#/app/contents/12">
                <img src="http://lorempixel.com/80/80/nature/2/">

                <h2>Page Detail 1.2 Title</h2>
                <p>July 1, 2015</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
