<ion-view view-title="Page Detail 1.2 Title">
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img src="http://lorempixel.com/400/300/nature/2/">
                <div class="page-meta">
                    <strong class="page-title">Fusce fermentum odio nec arcu</strong><br/>
                    <small class="page-created">July 2, 2015</small>
                </div>
            </div>
            <div class="item item-text-wrap">
                Curabitur at lacus ac velit ornare lobortis. Vivamus aliquet elit ac nisl. Vestibulum fringilla pede sit amet augue.

                Quisque id odio. Vestibulum volutpat pretium libero. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.
            </div>
    </ion-content>
</ion-view>
