<ion-view view-title="Page Detail 2 Title">
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img src="http://lorempixel.com/400/300/nature/3/">
            </div>
            <div class="item item-text-wrap">
                Nunc nonummy metus. Cras id dui. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.

                Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Phasellus tempus. Duis vel nibh at velit scelerisque suscipit.

                Etiam ut purus mattis mauris sodales aliquam. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Fusce pharetra convallis urna.

                Fusce egestas elit eget lorem. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla.
            </div>
        </div>
    </ion-content>
</ion-view>
