/* Empty. Add your own CSS if you like */

.feeling-icon {
    font-size: 40px
}
.bg-full-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.splash-next {
    cursor: pointer;
}

.relative {
    position: relative;
}
.home-menu-wrapper {
    margin: 40px;
}
.home-menu {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.home-menu::after {
    content: " ";
    padding-top: 90%;
    display: block;
}
.footer-no-height {
    height: 0;
    padding: 0;
}

.page-meta {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFF;
    text-align: left;
}

/* Map */
map {
    width: 100%;
    height: 100%;
    display: block;
}